<div class="separate_block border_left_block">
    {{#if collapsed}}
	<h2 class="title collapse_title">
		<a
			href="javascript:void(0);"
			onclick='toggleCollapse( this );' 
			aria-expanded="false"
			title="Afficher les remises"
			aria-label="Afficher les remises"
			>
			<svg class="arrow"><use href="/static/icons/endi.svg#chevron-down"></use></svg>
			<span class="icon status error" title="Ce bloc comporte une erreur">
				<svg><use href="/static/icons/endi.svg#exclamation-triangle"></use></svg>
			</span>
			<span class="icon status success" title="Ce bloc est valide">
				<svg><use href="/static/icons/endi.svg#check"></use></svg>
			</span>
			Remises
		</a>
	</h2>
    {{else}}
    <h2 class='title'>Remises</h2>
    {{/if}}
	<div class="collapse_content" {{#if collapsed}}hidden{{/if}}>
		<div class='content'>
			<div class='block-errors'></div>
			{{# if not_empty}}
			<div class='table_container'>
				<table class="hover_table">
					<thead>
						<tr>
							<th scope="col" class="col_text">Description</th>
                            <th scope="col" class="col_number">
                                {{# if is_ttc_mode }}
                                Montant TTC
                                {{else}}
                                Montant HT
                                {{/if}}
                            </th>
							<th scope="col" class='col_number tva' title="Taux de TVA"><span class="screen-reader-text">Taux de </span>Tva</th>
							{{#if edit}}
							<th scope="col" class="col_actions" title="Actions"><span class="screen-reader-text">Actions</span></th>
							{{/if}}
						</tr>
					</thead>
			{{/if}}
					<tbody class='lines'>
					</tbody>
					{{#if edit}}
					 <div class="actions content_double_padding align_right">
					<button
						type="'button"
						class="btn btn-add"
						title="Ajouter une remise"
					>
						<svg>
						<use href="/static/icons/endi.svg#plus"></use>
						</svg>
						Ajouter une remise
					</button>
					</div>
					{{/if}}
				</table>
			</div>
		</div>
	</div>
	<div class='modalregion'></div>
</div>
