<h2 class='title collapse_title'>
    <a
        href="javascript:void(0);"
        onclick='toggleCollapse( this );' 
        aria-expanded="false"
        title="Afficher les notes complémentaires"
        aria-label="Afficher les notes complémentaires"
        >
		<svg class="arrow"><use href="/static/icons/endi.svg#chevron-down"></use></svg>
        Notes complémentaires
    </a>
</h2>
<div class='collapse_content' hidden>
	<div class='content'>
        <div class='notes'></div>
    </div>
</div>
