<tbody class="lines">
  <tr class="row taskline">
    <td class="level_spacer"></td>
    <td class="col_text description" colspan="2">
      {{{description}}}
      {{#if supplier_ht_mode}}
        <span class="hidden_pdf">
          Coefficient de marge :
          {{#if margin_rate}}
            {{margin_rate}}
          {{else}}
            Non renseigné
          {{/if}}
        </span>
      {{/if}}
    </td>
    <td class="col_number hidden_pdf">
      {{#if supplier_ht_mode}}
        {{{supplier_ht}}}
      {{/if}}
    </td>
    <td class="col_number {{#unless display_units}}hidden_pdf{{/unless}}">
      {{{ht}}}
    </td>
    <td class="col_number quantity {{#unless display_units}}hidden_pdf{{/unless}}">
      {{quantity}}
    </td>
    <td class="col_text unity {{#unless display_units}}hidden_pdf{{/unless}}">
      {{unity}}
    </td>
    <td class="col_number">
      {{{total_ht}}}
    </td>
    <td class="col_number tva">
      {{#if tva_label}}
        {{{tva_label}}}
        <br />
        <small>
          <span class="hidden_pdf">
            {{{product_label}}}
          </span>
        </small>
      {{/if}}
    </td>
    <td class="col_actions width_two">
      <a
        href="#chapters/{{chapter_id}}/products/{{id}}"
        class="btn icon only"
        title="Modifier ce produit"
        aria-label="Modifier ce produit"
      >
        <svg>
          <use href="../static/icons/endi.svg#pen"></use>
        </svg>
      </a>
      <div class="btn-group">
        <button
          class="btn icon only dropdown-toggle"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          title="Afficher plus d’actions"
          aria-label="Afficher plus d’actions"
        >
          <svg>
            <use href="../static/icons/endi.svg#dots"></use>
          </svg>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li>
            <button
              data-action="product:duplicate"
              data-id="{{id}}"
              type="button"
              class="btn icon"
              title="Dupliquer ce produit"
              aria-label="Dupliquer cet ouvrage"
            >
              <svg>
                <use href="../static/icons/endi.svg#copy"></use>
              </svg>
              Dupliquer
            </button>
          </li>
          <li>
            <button
              data-action="product:delete"
              data-id="{{id}}"
              type="button"
              class="btn icon negative"
              title="Supprimer ce produit"
              aria-label="Supprimer ce produit"
            >
              <svg>
                <use href="../static/icons/endi.svg#trash-alt"></use>
              </svg>
              Supprimer
            </button>
          </li>
        </ul>
      </div>
    </td>
    <td class="col_actions row_ordering sort" colspan="2">
      <ul>
        {{#if is_not_first}}
          <li>
            <button
              data-action="product:up"
              data-id={{id}}
              type="button"
              class="btn icon only up"
              title="Déplacer ce produit vers le haut"
              aria-label="Déplacer ce produit vers le haut"
              tabindex="-1"
            >
              <svg>
                <use href="/static/icons/endi.svg#arrow-up"></use>
              </svg>
            </button>
          </li>
        {{/if}}
        {{#if is_not_last}}
          <li>
            <button
              data-action="product:down"
              data-id={{id}}
              type="button"
              class="btn icon only down"
              title="Déplacer ce produit vers le bas"
              aria-label="Déplacer ce produit vers le bas"
              tabindex="-1"
            >
              <svg>
                <use href="/static/icons/endi.svg#arrow-down"></use>
              </svg>
            </button>
          </li>
        {{/if}}
      </ul>
    </td>
  </tr>
</tbody>