{{#if editable }}
    {{#if title}}
	{{#if required}}
<label for="{{tagId}}" class="required" title="Champ obligatoire">
    {{else}}
<label for="{{tagId}}">
    {{/if}}
    <svg class="error"><use href="/static/icons/endi.svg#exclamation-triangle"></use></svg>
    {{ title }}
    {{#if required}}
    <span class="icon required">
        <svg><use href="/static/icons/endi.svg#required"></use></svg>
        <span><span class="screen-reader-text">Champ</span> Obligatoire</span>
    </span> 
{{/if}}
</label>
    {{/if}}
    <textarea
      name='{{field_name}}'
      id="{{tagId}}"
      class='form-control'
      rows='{{ rows }}'
      {{#if placeholder}}placeholder="{{placeholder}}"{{/if}}
      {{#if required}}required{{/if}}
    >{{ value }}</textarea>
{{else}}
    {{ value }}
{{/if}}
{{#if ariaLabel}}
<span class="screen-reader-text">{{ ariaLabel }}</span>
{{/if}}
{{#if description}}
<span class='help-block'>{{description}}</span>
{{/if}}