<button
    class='{{ option.css }}'
    title="{{ option.title }}"
    {{#if onclick}}onclick="{{onclick}}"{{/if}}
    {{#if option.attrs}} {{ option.attrs }}{{/if}}>
    <svg><use href="/static/icons/endi.svg#{{ option.icon }}"></use></svg>
    {{ option.label}}
</button>
