<form class="modal_content_layout layout">
	<div class="modal_content">
		<div class="alert alert-info">
			<p>Cette ligne sera affichée en dessous des totaux et son montant va 
			s'appliquer sur le total TTC pour calculer automatiquement le 
			net à payer pour le client.</p>
			<br/>
			<p>Un montant positif sera ajouté, un montant négatif sera déduit.</p>
			<br/>
			<p><em>Exemples : </em></p>
			<ul>
				<li><em>« Acompte perçu » : -50.00 €</em></li>
				<li><em>« Déduction prime CEE » : -150.00 €</em></li>
				<li><em>« Régularisation facture précédente » : 4.00 €</em></li>
			</ul>
		</div>
		<fieldset>
			<div class="row form-row">
				<div class='label col-md-12'></div>
			</div>
			<div class="row form-row">
				<div class='amount col-md-6'></div>
			</div>
		</fieldset>
	</div>
	<footer>
		<button class='btn btn-primary' type='submit' value='submit' title='{{title}}' aria-label='{{title}}'>
			<svg><use href="/static/icons/endi.svg#check"></use></svg> 
			Valider
		</button>
		<button class='btn' type='reset' value='submit'>
			Annuler
		</button>
	</footer>
</form>
