<h2 class='title collapse_title'>
    <a
		href="javascript:void(0);"
		onclick='toggleCollapse( this );' 
		aria-expanded="false"
		title="Afficher les paiements et acomptes"
		aria-label="Afficher les paiements et acomptes"
        >
		<svg class="arrow"><use href="/static/icons/endi.svg#chevron-down"></use></svg>
        Paiements et acomptes
    </a>
</h2>
<div class='collapse_content' hidden>
	<div class='content'>
		<div class='payment_display-container'></div>
		<div class='payment-deposit-container'></div>
		<div class='payment_times-container'></div>
		<div class='payment-lines-container'></div>
	</div>
</div>
