// import fonts files

@font-face {
	font-family: 'Gandhi';
	src: url('../fonts/GandhiSans-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gandhi';
	src: url('../fonts/GandhiSans-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gandhi';
	src: url('../fonts/GandhiSans-Italic.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
}

:root {
	--font-family-main: 'Gandhi', sans-serif;
	--font-family-secondary: 'Gandhi', sans-serif;
}