body.caerp {
	.tox-tbtn {
		border: 1px solid transparent;
		border-radius: 0;
		cursor: pointer;
		&:hover,
		&:focus,
		&:active {
			background: var(--form-button-background-color);
			border: 1px solid var(--form-main-button-background-color);
		}
	}
}
