:root {
  --menu-border-width: 5px;
  --menu-mini-width: 2.5rem;
  --menu-maxi-width: 15.625rem;
  --menu-slide-margin: -13.125rem;
  --padding-xs: 2.5px;
  --padding-s: 5px;
  --padding-r: 7.5px;
  --padding-m: 10px;
  --padding-l: 15px;
  --padding-xl: 20px;
  --padding-2xl: 25px;
  --padding-3xl: 30px;
  --padding-4xl: 35px;
  --padding-5xl: 40px;
  --padding-6xl: 45px;
  --padding-7xl: 50px;
  --negative-padding-s: -5px;
  --negative-padding-m: -10px;
  --negative-padding-l: -15px;
  --negative-padding-xl: -20px;
  --print-padding-s: 1.25pt;
  --print-padding-r: 2.5pt;
  --print-padding-m: 5pt;
  --print-padding-l: 10pt;
  --print-padding-xl: 15pt;
  --print-padding-2xl: 20pt;
  --variable-horizontal-padding-xs: .3125rem;
  --variable-horizontal-padding-s: .9375rem;
  --variable-horizontal-padding-m: 1.875rem;
  --variable-horizontal-padding-l: 2.8125rem;
  --negative-variable-horizontal-padding-s: -.9375rem;
  --negative-variable-horizontal-padding-m: -1.875rem;
  --variable-vertical-padding-m: .625rem;
  --variable-vertical-padding-l: 1.25rem;
  --variable-vertical-padding-xl: 2.5rem;
  --icon-size-s: 1.125rem;
  --icon-size-m: 1.5rem;
  --icon-size-l: 2rem; }

@media (max-width: 75rem) {
  :root {
    --menu-horizontal-padding: 1rem;
    --menu-horizontal-negative-margin: -1rem;
    --menu-link-padding: calc( 1rem - 5px );
    --menu-sub-link-padding: calc( 1rem + 5px ); } }

@media (min-width: 75rem) {
  :root {
    --menu-horizontal-padding: 2rem;
    --menu-horizontal-negative-margin: -2rem;
    --menu-link-padding: calc( 2rem - 5px );
    --menu-maxi-width: 18.75rem;
    --menu-slide-margin: -16.25rem;
    --menu-sub-link-padding: calc( 2rem + 10px ); } }

body.caerp .expense_totals {
  background: var(--message-info-background-color);
  margin: var(--padding-m) 0;
  padding: var(--padding-s); }
  body.caerp .expense_totals > div {
    display: flex;
    justify-content: flex-start; }
    body.caerp .expense_totals > div .layout.flex {
      width: 12em; }
      body.caerp .expense_totals > div .layout.flex > div:nth-child(2n + 1) p {
        padding-top: 2px; }
      body.caerp .expense_totals > div .layout.flex > div:nth-child(2n) p {
        text-align: right; }

body.caerp .modal_view .select label,
body.caerp .modal_view .select select {
  width: 100%; }

body.caerp .flex .btn-group {
  flex: 0 0 auto;
  padding-left: var(--padding-s); }

body.caerp .add_km_expense > div {
  padding-bottom: var(--padding-m); }

body.caerp .main_toolbar .js_actions .resume {
  align-self: center;
  flex: 1 1 auto;
  justify-content: center; }
  body.caerp .main_toolbar .js_actions .resume > div {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 var(--padding-s); }
    body.caerp .main_toolbar .js_actions .resume > div label.btn {
      margin: 0; }
    body.caerp .main_toolbar .js_actions .resume > div label:not(.btn) {
      font-size: .825em;
      padding: var(--padding-s); }
    body.caerp .main_toolbar .js_actions .resume > div .toggle-buttons {
      padding: 0; }

body.caerp .main_toolbar .main_actions .more_actions {
  flex: 1 1 auto; }
  body.caerp .main_toolbar .main_actions .more_actions > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 11.25rem;
    padding: 0 2px; }
    body.caerp .main_toolbar .main_actions .more_actions > div > div > label {
      display: block;
      font-size: .875rem;
      padding-bottom: var(--padding-s);
      text-align: center; }
    body.caerp .main_toolbar .main_actions .more_actions > div > div > .btn,
    body.caerp .main_toolbar .main_actions .more_actions > div > div > .btn-container {
      margin-right: 5px; }
    body.caerp .main_toolbar .main_actions .more_actions > div > div:last-child {
      align-items: center; }
      body.caerp .main_toolbar .main_actions .more_actions > div > div:last-child > label {
        display: inline;
        padding: 0 0 0 var(--padding-m); }
    body.caerp .main_toolbar .main_actions .more_actions > div > div:only-child .btn, body.caerp .main_toolbar .main_actions .more_actions > div > div:only-child .btn-container {
      margin-right: 0; }

body.caerp[class*="supplier_orders"] .two_cols .totals.form-section {
  justify-content: flex-start; }

body.caerp[class*="supplier_orders"] .main_toolbar .main_actions .more_actions > div {
  justify-content: flex-end; }

@media (max-width: 75rem) {
  body.caerp .main_toolbar .js_actions .resume {
    flex-basis: 15em; } }

@media (max-width: 50rem) {
  body.caerp .main_toolbar .main_actions {
    flex-wrap: nowrap; }
    body.caerp .main_toolbar .main_actions .more_actions {
      flex: 0 1 auto;
      padding: 0 var(--padding-s); }
      body.caerp .main_toolbar .main_actions .more_actions > div {
        justify-content: flex-start; } }

@media (max-width: 31.25rem) {
  body.caerp .totals.form-section .flex.two_cols > div {
    width: 50%; }
  body.caerp .main_toolbar .main_actions {
    flex-wrap: wrap;
    justify-content: flex-start; }
    body.caerp .main_toolbar .main_actions .resume {
      flex-basis: auto; }
    body.caerp .main_toolbar .main_actions .more_actions {
      flex: 0 1 auto;
      margin: 0 5px; }
      body.caerp .main_toolbar .main_actions .more_actions:first-child {
        margin: 0 -2px; }
      body.caerp .main_toolbar .main_actions .more_actions > div {
        justify-content: flex-start; }
    body.caerp .main_toolbar .main_actions > div {
      margin-right: 5px; }
      body.caerp .main_toolbar .main_actions > div:last-child {
        margin-right: 0; } }
