<form>
    <div role="dialog" id="stock_operation-forms" aria-modal="true" aria-labelledby="stock_operation-forms_title">
        <div class="modal_layout">
            <header>
                <button class="icon only unstyled close" title="Fermer cette fenêtre" type='button'>
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>
                </button>
                <h2 id="stock_operation-forms_title">
                    {{title}}
                </h2>
            </header>
            <div class="modal_content_layout">
                <div class="modal_content">
                    <div class='errors'></div>
                    <fieldset>                
                        <div class='field-date'></div>
                        <div class='field-description'></div>
                        <div class="row form-row">
                            <div class='col-md-6 field-stock_variation'></div>
                        </div>

                        <div class='field-base_sale_product_id'></div>
                    </fieldset>
                </div>
                <footer>
                    <button class='btn btn-primary icon' type='submit' value='submit'><svg> <use href="/static/icons/endi.svg#check"></use></svg>Valider
                    </button>
                    <button class='btn icon' type='reset' value='cancel'><svg><use href="/static/icons/endi.svg#times"></use></svg>Annuler
                    </button>
                </footer>
            </div>
        </div>
    </div>
</form>